body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

#nav {
    background-color: hsl(341, 100%, 63%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
}

.head img {
    margin-top: 7px;
    max-height: 100%;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    font-size: 20px;
    font-weight: 500;
}

#nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    position: relative;
}

#nav ul li a::after {
    content: "";
    position: absolute;
    background-color: #ffd700;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}

#nav ul li a:hover::after {
    width: 100%;
}

.searchbar input {
    width: 350px;
    height: 43px;
    font-size: 18px;
    border-radius: 10rem;
    outline: none;
    padding-left: 20px;
    border: 1px solid #ccc;
}

.btn button {
    height: 43px;
    width: 80px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    background-color: yellow;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#nav button:hover {
    background-color: #FFD740;
}

#nav ul.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: hsl(341, 100%, 63%);
    padding: 20px;
    z-index: 999;
}

@media screen and (min-width: 891px) {
    #nav ul.active {
        display: none;
    }
}

#nav ul.active li {
    margin-bottom: 10px;
}

@media (max-width: 1060px) {
    .searchbar input {
        width: 300px;
    }
}

@media (max-width: 981px) {
    .searchbar input {
        width: 200px;
    }
}

@media screen and (max-width: 891px) {
    .searchbar input {
        display: none;
    }
}

@media screen and (max-width: 867px) {
    .head img {
        max-height: 50px;
    }

    .menu-toggle {
        display: block;
        font-size: 24px;
        color: white;
    }

    .menu-toggle i {
        cursor: pointer;
    }
    
    #nav ul {
        display: none;
        text-align: center;
    }
}

#header1 {
    background-color: #40679E;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#header1 h1 {
    font-size: 36px;
    margin: 0;
}

#header1 p {
    font-size: 18px;
    margin: 10px 0;
}

.main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main h2 {
    flex-basis: 100%;
    margin-bottom: 20px;
    font-size: 32px;
}

.main ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.main li {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    margin-right: 20px;
}

.main a {
    display: block;
    background-color: #1B3C73;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.main a:hover {
    background-color: #444;
}
.footer {

    background-color: #444;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    padding: 20px;
    line-height: 0.8;
    animation: fadeIn 1.5s ease-in-out;

  }
  
  .footer p {
    margin: 5px 0;
    font-size: 18px;
  }
  
  .footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .social-icons a {
    padding: 5px;
    border-radius: 20%;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 8px;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  #fb {
    background-color: #1B3C73;
  }
  
  #twit {
    background-color: #333;
  }
  
  #insta {
    background-color: red;
  }
  
  #link {
    background-color: #1B3C73;
  }
  
  .social-icons a:hover {
    transform: scale(1.1);
    font-size: 22px;
  }
  
  .footer-bottom {
    margin-top: 20px;
  }
  
  .footer-bottom p {
    font-size: 16px;
  }
  
  .footer-bottom .designed-name {
    font-size: 12px;
    margin-top: 14px;
  }
  
  .footer-bottom #Tags {
    margin-top: 10px;
    color: yellow;
    padding-bottom: 5px;
  }
  
  .footer-bottom a {
    text-decoration: none;
    font-size: 12px;
    color: white;
    padding: 2px;
    border-radius: 5px;
  }
  
  .footer-bottom a:hover {
    background-color: rgb(0, 0, 255, 0.7);
    color: rgb(255, 255, 255);
  }
  .subjects {
    margin-top: 3rem;

  }
  
  .sem1 {
    display: flex;
    flex-direction: column;
  
  }
  
  .sem1-head {
    padding-left: 1rem;
  }
  
  .sem1-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0 2rem 1rem;
  
  }
  .sem1c{
    background-color: #594545;
  }
  .sem1c:hover{
    background-color: #765827;
  }
  
  .cp-sub {
    height: 60px;
    width: 1800px;
    border-radius: 10px;
    border: none;
    outline: none;
    /* background-color: #C08B5C; */
    display: grid;
    place-items: center;
    transform: scale(0.9);
    transition: all .3s ease;
  }
  .cp-sub:hover{
    transform: scale(1);
  }
  
  
  
  .cp-sub a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
  }  